# Intro

과정명: [Level 3] Data Science 역량강화 심화과정
-------------------------------------

전자 DX Level 3에 출제되는 내용을 중심의 고급 데이터 분석 강의입니다.

## 시험장 환경을 가상 환경으로 구축

PC에 있는 Python 환경을 유지하면서, 시험장 환경의 Python환경을 별도로 구축하는 방법입니다.

OS: Windows 10 (Windows 11도 가능하지만 결과에 차이가 있을 수 있습니다.)

    1. 제공 자료 중에서 패키지 폴더를 C:\패키지 에 위치 시킵니다. 
    
       (C:\패키지에 위치할 필요는 없지만, 이후 설명은 C:\패키지 를 기준으로 합니다.)

    2. 패키지에 안에 있는 시험장 환경의 python(3.7.4 version) 설치 파일 python-3.7.4-amd64.exe 를 실행시킵니다.

    3. Python 설치 경로를 C:\python37로 합니다. (마찬가지로 따를 필요는 없지만, 설명은 C:\python37 를 기준으로 합니다.)

    4. Python 가상 환경 구축

        - 명령프롬프트를 실행시킵니다.(Windows 실행 → cmd.exe)
        
        - 설치된 버젼의 python 실행 파일을 사용하여 python37이란 이름으로 가상환경을 만듭니다.

```cmd
            C:\python37\python -m venv python37
```

        - 성공하면 python37 경로가 생깁니다.


    5. 패키지 설치

```
    python37\Scripts\activate
    cd c:\패키지
    pip install --upgrade --no-index --find-links . pip
    pip install --no-index --find-links . -r requirements.txt
```

-------------------------------------------------------------------

가상 환경 전환 

    일단 가상환경이 구축이 되면, 이후에는 활성화를 통해 환경 전환이 가능합니다.

```
python3.7\Scripts\activate 
```

----------------------------------

가상 환경 해제

    가상환경 이전의 환경으로 돌아옵니다.

```
deactivate
```

In [2]:
# 주요 라이브러리

# 데이터 처리 라이브러리
import pandas as pd
# 수치 연산 라이브러리
import numpy as np
# 과학용 데이터 처리 및 연산 라이브러리
import scipy
# 통계 모델 라이브러리
import statsmodels
# 머신러닝 라이브러리
import sklearn
# 머신러닝 라이브러리(확장)
import mlxtend
# (Over/Under)Sampling 라이브러리
import imblearn
# Extra Gradient Boosting 라이브러리
import xgboost as xgb
# 시각화 라이브러리
import matplotlib as mpl
# 차트 라이브러리
import seaborn as sns

import sys

print('Python: ', sys.version)

for i in [pd, np, scipy, statsmodels, sklearn, mlxtend, imblearn, xgb, mpl, sns]:
    print(i.__name__, i.__version__)

Python:  3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 20:34:20) [MSC v.1916 64 bit (AMD64)]
pandas 0.25.1
numpy 1.18.5
scipy 1.5.2
statsmodels 0.11.1
sklearn 0.21.3
mlxtend 0.15.0.0
imblearn 0.5.0
xgboost 0.80
matplotlib 3.5.3
seaborn 0.12.2

※ Python 버젼과 빌드가 다르거나, 라이브러리의 버젼이 다르면 제공하는 코드가 동작을 하지 않거나, 결과가 다를 수 있습니다.

##  교재의 구성

1. Jupyter Notebook 파일

    딥러닝을 제외하고, 시험장과 동일한 환경을 기준으로 제작된 Jupyter Notebook 파일로 강의를 진행합니다.

    딥러닝 파트는 **Tensorflow 2.X** 환경 기반으로 진행이 됩니다.


2. 요약집

    주요 내용이 요약된 파일이 제공됩니다.

## 과정의 컨셉


1. 이론과 구현을 하나의 문서로 구성하였습니다. 

    이론을 학습함과 동시에 코드로 구현하여 이론의 내용을 바로 코드로 확인하여 이해도를 높힙니다.

    구현된 내용들은 실기 시험 환경과 동일하고, 실기 시험에서도 그대로 적용할 수 있는 기법들로 구성이 됩니다.

    ▷ 이론 과정에서 나오는 코드들을 이해해가면, 자연스럽게 실기 시험에서 사용하는 구현들에 익숙해질 수 있습니다.


2. Level2의 내용은 언급된 내용들은 보다 깊게 다루기도 하고, 단편적인 내용들은 간단히 언급만하고 넘어가며 진행합니다.

## 선수 지식

- **DX Level2의 이론 및 Python 기반 데이터 분석 능력**

### 선형 대수 (Linear Algebra)

#### 벡터의 내적

<div style="border: 1px solid #ddd; padding: 12px; margin-top: 10px;">

$x = \begin{bmatrix} x_{1} & x_{2} & ... & x_{n} \end{bmatrix}^T$

$y = \begin{bmatrix} y_{1} & y_{2} & ... & y_{n} \end{bmatrix}^T$ 


$ x^T y = \sum_{i=1}^n x_i y_i$

</div>

#### 행렬곱

<div style="border: 1px solid #ddd; padding: 12px; margin-top: 10px;">

$A = \begin{bmatrix} a_{1,1} & a_{1,2} & \ldots & a_{1, n} \\ a_{2, 1} & a_{2, 1} & \ldots & a_{2, n} \\ \vdots & \vdots & \ddots & \vdots \\ a_{m, 1} & a_{m, 2} & ... & a_{m,n}\end{bmatrix}$, $B = \begin{bmatrix} b_{1,1} & b_{1,2} & \ldots & b_{1, n} \\ b_{2, 1} & b_{2, 1} & \ldots & b_{2, n} \\ \vdots & \vdots & \ddots & \vdots \\ b_{m, 1} & b_{m, 2} & ... & b_{m,n}\end{bmatrix}$

$A^T B = \begin{bmatrix} \sum_{i=1}^na_{1, i}b_{i, 1} & \sum_{i=1}^na_{1, i}b_{i, 2} & \ldots & \sum_{i=1}^na_{1, i}b_{i, m} \\ \sum_{i=1}^na_{2, i}b_{i, 1} & \sum_{i=1}^na_{2, i}b_{i, 2} & \ldots & \sum_{i=1}^na_{2, i}b_{i, m} \\ \vdots & \vdots & \ddots & \vdots \\ \sum_{i=1}^na_{m, i}b_{i, 1} & \sum_{i=1}^na_{m, i}b_{i, 2} & \ldots & \sum_{i=1}^na_{m, i}b_{i, m} \end{bmatrix}$

</div>

#### 미분

<div style="border: 1px solid #ddd; padding: 12px; margin-top: 10px;">

$x = \begin{bmatrix} x_{1} & x_{2} & ... & x_{n} \end{bmatrix}^T$

$y = \begin{bmatrix} y_{1} & y_{2} & ... & y_{n} \end{bmatrix}^T$ 

$y = \Psi(x)$ 일 때,

$\frac{\partial{y}}{\partial{x}} = \begin{bmatrix} \frac{dy_1}{dx_1} & \frac{dy_1}{dx_2} & \ldots & \frac{dy_1}{dx_n} \\ \frac{dy_2}{dx_1} & \frac{dy_2}{dx_2} & \ldots & \frac{dy_2}{dx_n} \\ \vdots & \vdots & \ddots & \vdots \\ \frac{dy_n}{dx_1} & \frac{dy_n}{dx_2} & \ldots & \frac{dy_n}{dx_n} \end{bmatrix}$

------------------------
    
$A = \begin{bmatrix} a_{1,1} & a_{1,2} & \ldots & a_{1, n} \\ a_{2, 1} & a_{2, 1} & \ldots & a_{2, n} \\ \vdots & \vdots & \ddots & \vdots \\ a_{n, 1} & a_{n, 2} & ... & a_{n,n}\end{bmatrix}$

$y = A x$, 행렬 A와 벡터 x가 독립일 때

$\frac{\partial{y}}{\partial{x}} = A$


$y^T = x^T A$, 행렬 A와 벡터 x가 독립일 때

$\frac{\partial{y}}{\partial{x}} = A^T$
    
</div>

## 데이터셋 소개

### Titanic

[Titanic](https://www.kaggle.com/competitions/titanic/data) 탑승객의 생존 유무를 담은 데이터셋 입니다.

|Data|Dictionary|Key|
|:----|:----------|:---|
|PassengerId|Passenger Id|Index|
|Survived|Survival|0 = No, 1 = Yes|
|Pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|Name|Name|
|Sex|Sex|
|Age|Age in years|
|Sibsp|# of siblings / spouses aboard the Titanic|
|Parch|# of parents / children aboard the Titanic|	
|Ticket|Ticket number|
|Fare|Passenger fare|	
|Cabin|Cabin number|
|Embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|

In [3]:
df_titanic = pd.read_csv('data/titanic.csv', index_col='PassengerId')
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Space titanic

[Space Titanic](https://www.kaggle.com/competitions/spaceship-titanic) 생존자 데이터셋을 모태로하여  미래의 우주 여행선을 주제로 만들어진, 데이터 분석 입문용 데이터셋입니다.

|variable name|description|
|---|:---|
|PassengerId|A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.|
|HomePlanet|The planet the passenger departed from, typically their planet of permanent residence.|
|CryoSleep|Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.|
|Cabin|The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.|
|Destination|The planet the passenger will be debarking to.|
|Age|The age of the passenger.|
|VIP|Whether the passenger has paid for special VIP service during the voyage.|
|RoomService, FoodCourt, ShoppingMall, Spa, VRDeck| Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.|
|Name|The first and last names of the passenger.|
|Transported|Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.|

In [4]:
df_space = pd.read_csv('data/space_titanic.csv', index_col='PassengerId')
df_space.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

### Wild blueberry

[Wild blueberry](https://data.mendeley.com/datasets/p5hvjzsvn8/1) 야생 블루베리의 수확량을 시뮬레이션한 데이터셋입니다.


|Features|Unit|Description|
|:--------|:----|:-----------|
|Row#||Index|
|clonesize|m2|The average blueberry clone size in the field|
|honeybee|bees/m2/min|Honeybee density in the field|
|bumbles|bees/m2/min|Bumblebee density in the field|
|andrena|bees/m2/min|Andrena bee density in the field|
|osmia|bees/m2/min|Osmia bee density in the field|
|MaxOfUpperTRange|℃|The highest record of the upper band daily air temperature during the bloom season|
|MinOfUpperTRange|℃|The lowest record of the upper band daily air temperature|
|AverageOfUpperTRange|℃|The average of the upper band daily air temperature|
|MaxOfLowerTRange|℃|The highest record of the lower band daily air temperature|
|MinOfLowerTRange|℃|The lowest record of the lower band daily air temperature|
|AverageOfLowerTRange|℃|The average of the lower band daily air temperature|
|RainingDays|Day|The total number of days during the bloom season, each of which has precipitation larger than zero|
|AverageRainingDays|Day|The average of raining days of the entire bloom season|
|fruitset||The amount of fruit per tree|
|fruitmass||The mass of a fruit|
|seeds||The mass of a seed|
|yield||The amount of yield|

In [5]:
df_berry = pd.read_csv('data/wild_blueberry.csv', index_col='Row#')
df_berry.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
Row#,,,,,,,,,,,,,,,,,
0,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.410652,0.408159,31.678898,3813.165795
1,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.444254,0.425458,33.449385,4947.605663
2,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,16.0,0.26,0.383787,0.399172,30.546306,3866.798965
3,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.407564,0.408789,31.562586,4303.943030
4,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.354413,0.382703,28.873714,3436.493543

### Abalone

[Abalone](https://archive.ics.uci.edu/dataset/1/abalone) 데이터셋: 전복의 생육 정보 데이터입니다.


|Name|Data Type|	Meas.|	Description|
|----|---------|-----|-----------|
|Sex|nominal||M, F, and I (infant)|
|Length|continuous|mm|Longest shell measurement|
|Diameter|continuous|mm|perpendicular to length|
|Height|continuous|mm|with meat in shell|
|Whole|continuous|grams|whole abalone|
|Shucked|continuous|grams|weight of meat|
|Viscera|continuous|grams|gut weight (after bleeding)|
|Shell|continuous|grams|after being dried|
|Rings|integer||+1.5 gives the age in years|

In [6]:
df_abalone = pd.read_csv('data/abalone.csv')
df_abalone.head()

  Sex  Length  Diameter  Height   Whole  Shucked  Viscera  Shell  Rings
0   M   0.455     0.365   0.095  0.5140   0.2245   0.1010  0.150     15
1   M   0.350     0.265   0.090  0.2255   0.0995   0.0485  0.070      7
2   F   0.530     0.420   0.135  0.6770   0.2565   0.1415  0.210      9
3   M   0.440     0.365   0.125  0.5160   0.2155   0.1140  0.155     10
4   I   0.330     0.255   0.080  0.2050   0.0895   0.0395  0.055      7

### SMS Spam dataset

[Spam](https://archive.ics.uci.edu/dataset/228/sms+spam+collection):SMS 텍스트로 메세지와 Spam 여부를 나타낸 데이터셋입니다.

|Name|Description|
|----|---------|
|target|ham or spam|
|message|SMS message|

In [7]:
df_spam = pd.read_csv('data/SMSSpamCollection.tsv', sep='\t')
df_spam

     target                                            message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

### Gene expression

[유전자 발현](https://www.kaggle.com/datasets/crawford/gene-expression) microarray라는 측정 방법을 사용하여, 급성 골수성 백혈병 환자와 급성 림프구성 백혈병환자를 대상으로 유전자 발현도를 측정한 데이셋입니다. 

[원저자 논문, Molecular Classification of Cancer: Class Discovery and Class Prediction by Gene Expression Monitoring](https://www.google.co.kr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiUk_7j6ZWEAxXKlK8BHUkACiYQFnoECCAQAQ&url=https%3A%2F%2Fproteome.gs.washington.edu%2Fclasses%2FGenome372%2FReadings%2FGolub%2520et%2520al%2520Science%25201999.pdf&usg=AOvVaw1RF13kmxmJt8xxhxsx4966&opi=89978449)

해당 데이터는 총 7131개의 컬럼과 72개의 행을 가진 데이터로, 표본의 수보다 속성의 수가 훨씬 많은 데이터셋입니다.

주요 변수 설명

|Name|Description|
|----|---------|
|patient|patient no|
|cancer|AML: acute myeloid leukemia<br/>ALL:acute lymphoblastic leukemia|
|train|학습 데이터 여부|

그외 변수는 유전자의 발현도를 정수로 나타낸 변수들 입니다.

In [10]:
df_gene = pd.read_csv('data/gene.csv', index_col='patient')
df_gene

,patient,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,...,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at,train
0,1,-214,-153,-58,88,-295,-558,199,-176,252,...,511,-125,389,-37,793,329,36,191,-37,True
1,2,-139,-73,-1,283,-264,-400,-330,-168,101,...,837,-36,442,-17,782,295,11,76,-14,True
2,3,-76,-49,-307,309,-376,-650,33,-367,206,...,1199,33,168,52,1138,777,41,228,-41,True
3,4,-135,-114,265,12,-419,-585,158,-253,49,...,835,218,174,-110,627,170,-50,126,-91,True
4,5,-106,-125,-76,168,-230,-284,4,-122,70,...,649,57,504,-26,250,314,14,56,-25,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,65,-62,-198,-5,141,-256,-206,-298,-218,-14,...,532,-34,239,-78,707,354,-22,260,5,False
68,66,-58,-217,63,95,-191,-230,-86,-152,-6,...,297,36,358,2,423,41,0,1777,-49,False
69,63,-161,-215,-46,146,-172,-596,-122,-341,171,...,639,-27,548,-39,809,445,-2,210,16,False
70,64,-48,-531,-124,431,-496,-696,-1038,-441,235,...,1141,-121,197,-108,466,349,0,284,-73,False
71,62,-176,-284,-81,9,-294,-493,-393,-141,166,...,574,132,618,-9,551,194,20,379,-60,False

### Credit Card Fraud Detection

[신용 카드 사기 거래 탐지](https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud) 데이터 셋입니다.

|Name|Description|
|----|---------|
|Time|첫 거래와의 시간 차, 초(second)단위|
|V1, V2, ... V28|PCA를 통해 처리된 속성 데이터|
|amount|거래 금액|
|Class|1: Fraud, 0: Other|

284,807 건의 거래 중에서 492 건 만이 fraud 입니다. 

굉장히 치우침이 심한 데이터셋입니다.

In [5]:
df_credit = pd.read_pickle('data/credit.pkl')
df_credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359375,-0.072754,2.537109,1.377930,-0.338379,0.462402,0.239624,0.098694,0.363770,...,-0.018311,0.277832,-0.110474,0.066956,0.128540,-0.189087,0.133545,-0.021057,149.625000,0
1,0,1.191406,0.266113,0.166504,0.448242,0.060028,-0.082336,-0.078796,0.085083,-0.255371,...,-0.225830,-0.638672,0.101318,-0.339844,0.167114,0.125854,-0.008980,0.014725,2.689453,0
2,1,-1.358398,-1.339844,1.773438,0.379883,-0.503418,1.800781,0.791504,0.247681,-1.514648,...,0.248047,0.771484,0.909180,-0.689453,-0.327637,-0.139038,-0.055359,-0.059753,378.750000,0
3,1,-0.966309,-0.185181,1.792969,-0.863281,-0.010307,1.247070,0.237549,0.377441,-1.386719,...,-0.108276,0.005272,-0.190308,-1.175781,0.647461,-0.221924,0.062744,0.061462,123.500000,0
4,2,-1.158203,0.877930,1.548828,0.403076,-0.407227,0.095947,0.592773,-0.270508,0.817871,...,-0.009430,0.798340,-0.137451,0.141235,-0.206055,0.502441,0.219482,0.215210,70.000000,0

Dinosaur List

[공룡이름 데이터셋](https://www.kaggle.com/datasets/kumazaki98/dinosaur-list)